<div class="row">
    <div class="col-lg-12">
        <h3 class="title-label">Mở văn phòng tư vấn</h3>
    </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= form_for @office do |f| %>
      <%= render "form", f: f %>
        <div class="form-group">
        <label class="control-label col-sm-2"></label>
        <div class="col-sm-10">
          <%= f.submit "Đăng ký", class: "btn btn-primary" %>
        </div>
      </div>

    <% end %>
  </div>
</div>

